@keyframes gradientAnimation {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}

.gradient-text {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #4caf50, #2196f3, #9c27b0);
  background-size: 200% 100%;
  animation: gradientAnimation 3s linear infinite;
}

.animate-gradient {
  display: inline-block;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #4caf50, #2196f3, #9c27b0);
  background-size: 200% 100%;
  animation: gradientAnimation 3s linear infinite;
}
