.orbit-container {
  position: relative;
  width: 300px;
  height: 300px;
  /* border: 2px solid #333; */
  border-radius: 50%;
  animation: orbit 30s linear infinite;
}

.tech-orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media queries for responsive design */
@media (max-width: 600px) {
  .orbit-container {
    width: 200px; /* Adjust width for smaller devices */
    height: 200px; /* Adjust height for smaller devices */
  }
}
