@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Titillium Web", sans-serif;
  overflow-x: hidden;
}
html {
  background: #123;
}
@layer components {
  .animate-updown {
    animation-name: animate-updownAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }

  @keyframes animate-updownAnim {
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(20px);
    }
  }
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: "";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}
/* top left */
body::before {
  width: 400px;
  height: 400px;
  position: absolute;
  background: blueviolet;
  backdrop-filter: blur(500px);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  z-index: -1;
}
/* top right */
.bg-circle {
  /* Keep width and height same */
  width: 400px;
  height: 400px;

  position: absolute;
  top: 10%;
  left: 10%;

  transform: translate(-50%, -50%);

  border-radius: 50%;

  backdrop-filter: blur(100px);
  z-index: -1;

  background: linear-gradient(90deg, #f00 0%, #ff0 33%, #0f0 66%, #00f 100%);
  background-size: 200px 200px;

  filter: blur(90px);

  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body::before {
  animation-delay: 0s;
}

@media screen and (max-width: 500px) {
  .techtack {
    flex-direction: column;
    font-size: 15px;

    border-radius: 10px;
    padding: 10px;
  }
  .hi {
    font-size: 2.5rem;
  }
  .junior {
    font-size: 1.5rem;
  }
}

/* Entrance animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Entrance animation from the left */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-220px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Entrance animation from the right */
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(220px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Apply the animations to the Intro component */
.animate-left {
  animation: slideInLeft 1s ease-in-out;
}

.animate-right {
  animation: slideInRight 1s ease-in-out;
}
